*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}

.container{
    background-color: white;
    width: 100%;
    height: 100%;
    
    
}
/* header section */
.header{
    display: flex;
   gap: 10px;
   justify-content: center;
   margin-top: 0px;
   margin-left: 20%;
   
}
.header h2{
    margin-top: 40px;
    font-style: italic;
}

.header img {
  border-radius: 50%;
  width: 100px;
  height: 90px;
}
        

.header h2{
    font-weight: bold;
}

/* table part */

table.td{
    background-color: rgb(206, 31, 38);
    margin-left: 18%;
    align-items: center;
   
}
table td{
    font-weight: 500;
    font-size: large;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
    padding: 5px 5px;
    word-break: normal;
}
table th{
    font-size: large;
    border-color: black;
    border-style: solid;
    border-width: 1px; 
    padding: 5px 5px;
    word-break: normal;
}
p{
    margin-left: 25%;
}
/* form section */
#birth{
    border:2px solid black; 
   box-shadow: 10px 3px  green;

}


form {
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left: 25%;
}

legend {
    text-align: center;
    color: red;
}

input[type=number]{
    width: 60%;
    padding: 4px 3px;
    margin: 3px 0;
    display: flex;
    border: 1px solid rgb(244, 209, 34);
   background-color: rgb(244, 209, 34);
}

input[type=submit] {
    width: 100%;
    background-color: rgb(159, 243, 24);
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}
@media only screen  and(max-width:708px){
    table .td{
        margin-left: 12%;
        /* align-items:; */

    }
    table td{
        font-weight: 500;
        font-size: small;
        border-color: black;
        border-style: solid;
        border-width: 1px; 
        padding: 0px 5px;
        word-break: normal;
    }
    table th{
        font-size: small;
        border-color: black;
        border-style: solid;
        border-width: 1px; 
        padding: 0px 5px;
        word-break: normal;
    }
    .header{
       gap: 10px;
       margin-top: 0px;
       margin-left: 20%;
    }
}